<div class="row end">
	<div class="col-md-10 col-md-offset-1">
		<h3 class="title"><%= @country.name %></h3>
	</div>
</div>

<div class="row end">
	<div class="col-md-3 col-md-offset-1">
		<%= image_tag(@country.image.url, :class => "show-flag") %>
	</div>

	<div class="col-md-7">
		<%== @country.description %>
	</div>
</div>

<div class="row end">

	<div class="col-md-10 col-md-offset-1 show-place">
		<div class="panel panel-default">
			<div class="panel-heading">
			  <h3 class="panel-title"><%= @country.name %> Place</h3>
			</div>

			<div class="panel-body">
				<% @hot.each do |p| %>
			    <div class="col-sm-4 col-md-3">
			      <div class="thumbnail">
			        <div class="card-cover">
			          <%= image_tag( PlaceImage.where(place_id: p.id).first.image ) %>
			        </div>
			        <div class="caption">
			          <h4><%= p.name %></h4>
								<p><%= truncate(strip_tags(p.detail), :length => 80) %></p>
			        </div>
			          <%= link_to 'Read more...', place_path(p), :class => "btn btn-primary"  %>
			      </div>
			    </div>
			  <% end %>
			</div>

			<div class="panel-footer">
				<%= link_to "more +", places_path(:c => @country.id) %>
				<!-- place_index_path(:id => @country.id ) -->
			</div>

		</div>
	</div>

</div>

