<div class="row end" style="background-color:#ECF0F1; padding-bottom: 20px;">
  <div class="col-md-10 col-md-offset-1">
     <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <% @images.each_with_index do |i, index| %>
        <% if index == 0 %>
          <div class="item active">
        <% else %>
          <div class="item">
        <% end %>
          <%= link_to image_tag(i.image.url), place_path(i.place.id) %>
          <div class="carousel-caption">
            <% i %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
  </div>

</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <% @countries.each_with_index do |c, index| %>
        <div class="col-md-3">
          <%= link_to image_tag(c.image.url, :class => 'flag'), country_path(c), :class => "link-flag hvr-shadow-radial" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row" style="background-color:#ECF0F1; padding-bottom: 20px;">
  <div class="col-md-10 col-md-offset-1">
    <div class="row end">
      <div class="col-md-12">
        <div class="row">
          <h4>Hot comment</h4>
        </div>

        <div class="row">
          <div class="row">

            <% @hot.each do |p| %>
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <div class="card-cover">
                    <%= image_tag( PlaceImage.where(place_id: p.id).first.image ) %>
                  </div>
                  <div class="caption">
                    <h4><%= p.name %></h4>
                    <p>
                      <%= truncate(strip_tags(p.detail), :length => 80) %>
                    </p>
                    <%= link_to 'Read more...', place_path(p), :class => "btn btn-primary"  %>
                  </div>
                </div>
              </div>
            <% end %>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<script>
  $(window).ready(function(){
    console.log("ready")
    $('.carousel').carousel({
      interval: 5000
    });
  });
</script>