
		<%= form_for @place, :url => url_for(:controller => 'Place', :action => 'csp') do |f| %>

		  <div class="form-group">
		    <%= select("place", "country_id", Country.all.collect {|p| [ p.name, p.id ] }, {include_blank: false}) %>
		  </div>

			<div class="form-group">
		    <%= f.text_field :name, :placeholder => "Place name", :class => "form-control login-field" %>
			</div>

			<div class="form-group">
		    <%= f.text_area :detail, :placeholder => "Detail", :class => "form-control login-field" %>
			</div>

			<div class="form-group">
		    <%= f.text_field :lat, :placeholder => "latitude", :class => "form-control login-field" %>
		  </div>

		  <div class="form-group">
		    <%= f.text_field :log, :placeholder => "longtitude", :class => "form-control login-field" %>
			</div>

		  <%= f.submit "Create", :class => "btn btn-primary btn-lg btn-block" %>
		<% end %>
